<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>An Example Title</title>
    <link rel="stylesheet" href="app.css">
  </head>
  <body>
    <h1>Hello, <%= name %>!</h1>
    <p>HTML is so much better than a plain string!</p>
    <p>This site was accessed at <%= date %></p>
    <p>You are visitor <%= whoIsVisitor %> </p>
    <p>It has been <%= timeofLastVisit %> seconds since your last visit</p>

  </body>
</html>